html, body {
    padding: 0;
    margin: 0;
}

/* This is for the navbar */
.nav {
    background-color: #EB89F0;
    width: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.leftSide, .rightSide {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

.navList, .home {
    display: flex;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 16px;
    list-style-type: none;
}

.logoPic {
    width: 50px;
    height: auto;
}

.logoName {
    font-family: Pacifico;
}

.home {
    gap: 3px;
}

/* This is for the title of the article */
.articleTitle {
    width: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

.titleImage {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    padding: 0;
    margin-bottom: 4px;
}

.articlePicture {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

/* This is for the contents on the article */
.articleContent {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32px;
    font-size: 1.25em;
    line-height: 1.45;
    color: #2a2a2a;
}

hr {
    background-color: #d3d3d3;
    height: 3px;
    border: 0;
}

/* This is for the footer */
footer {
    display: flex;
    justify-content: center;
    gap: 12.5em;
    padding: 32px;
}

footer > ul.list > li:first-child {
    font-weight: bolder;
    font-size: 1.25em;
    color: #224c58;
    margin-bottom: 10px;
}
  
ul.list {
    list-style-type: none;
    max-width: 400px;
    margin: 0;
    padding: 0;
}
  
ul.list > li {
    margin-bottom: 2px;
    word-wrap: break-word;
    padding-top: 4px;
    padding-bottom: 4px;
}

a {
    text-decoration: none;
    color: black;
}

/* Media Queries for mobile */

/* Media Query for navbar */
@media screen and (max-width: 480px) {
    .nav {
        background-color: #EB89F0;
        width: auto;
    }
    .header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .leftSide {
        flex-direction: column;
        text-align: center;
        order: 2;
    }
    .rightSide {
        flex-direction: column;
        text-align: center;
        order: 3;
        padding-top: 8px;
    }
    .navList {
        flex-direction: column;
        text-align: center;
    }
    .home {
        display: flex;
        justify-content: center;
        text-align: center;
        order: 1;
    }
}

@media screen and (max-width: 480px) {
    .articleTitle {
        margin: 16px;
    }
}

@media screen and (max-width: 480px) {
    .articleContent {
        margin: 16px;
    }
}

/* media query for footer */
@media screen and (max-width: 480px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        padding: 32px;
    }
    ul.list {
        flex-direction: column;
    }
    ul.list > li {
        flex-direction: column;
    }
}
